.theme-dark {
    --general-bg: #0f0f0f;
    --general-text: #eaeaea;
    --general-accent: #331602;
    --header-bg: #161313;
    --nav-border:#f1000000;
    --nav-border-active:#9e6f6f;
    --nav-border-hover:#4b456d;
    --nav-btn-bg: #2a2a2a00;
    --nav-btn-bg2: #1a1a1a00;
    --nav-btn-bg-active: var(--general-accent);
    --nav-btn-bg-hover: #2a2a2a;
    --nav-btn-text: #ffffff;
    --nav-btn-text-active: var(--nav-btn-text);
    --footer-bg : var(--header-bg);
}

.theme-light {
    --general-bg: #f7f2ff;
    --general-text: #111111;
    --general-accent: #007aff;
    --header-bg: #929292;
    --nav-border:#f10000;
    --nav-border-active:#9e6f6f;
    --nav-border-hover:#4b456d;
    --nav-btn-bg: #2a2a2a00;
    --nav-btn-bg2: #1a1a1a00;
    --nav-btn-bg-active: var(--general-accent);
    --nav-btn-bg-hover: #2a2a2a;
    --nav-btn-text: #111111;
    --nav-btn-text-active: var(--nav-btn-text);
    --footer-bg : var(--header-bg);
}
.theme-green {
    --bg: #0b1f14;
    --head: #161313;
    --text: #c4f0d6;
    --accent: #2ecc71;
    --nav-btn-bg: #123a26;
    --nav-btn-text: #c4f0d6;
}

/* * {
    outline: 2px solid pink;
} */

body {
    font-family: Arial, sans-serif;
    background-color: var(--general-bg);
    color: var(--general-text);
    margin: 0;
    font-size: clamp(1.6rem, 4vw, 2.4rem);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*  */

#header {
    background-color: var(--header-bg);
    padding: 10px 30px;
}
#second-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px;
}

.page {
    display: none;
}
.page.active {
    display: block;
}

/*--- button header page selection ---*/
#toogle-nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 2px clamp(10px,5vw, 20px);
    font-size: clamp(10px,3vw, 40px);
    font-weight: 600;
    letter-spacing: 0.3px;

    color: var(--nav-btn-text);
    background: linear-gradient(
        135deg,
        var(--nav-btn-bg),
        var(--nav-btn-bg2)
    );

    border: 1px solid var(--nav-border);
    border-radius: 10px;

    cursor: pointer;
    user-select: none;

    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease,
        background 0.2s ease,
        border-color 0.2s ease;

}
#toogle-nav .arrow {
    transition: transform 0.5s ease;
    font-size: clamp(15px,calc(5vw + 5px), 25px);
}
#toogle-nav.closed .arrow {
    transform: rotate(180deg);
}

.nav-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform-origin: top;
    transition:
        max-height 0.35s ease,
        opacity 0.25s ease,
        transform 0.35s ease;
    
    max-height: 500px; /* suffisamment grand */
    opacity: 1;
    transform: scaleY(1);
}

.nav-panel.closed {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
}


.page-selector {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 12px clamp(10px,5vw, 20px);
    font-size: clamp(10px,3vw, 40px);
    font-weight: 600;
    letter-spacing: 0.3px;

    color: var(--nav-btn-text);
    background: linear-gradient(
        135deg,
        var(--nav-btn-bg),
        var(--nav-btn-bg2)
    );

    border: 1px solid  var(--nav-border);
    border-radius: 10px;

    cursor: pointer;
    user-select: none;

    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease,
        background 0.2s ease,
        border-color 0.2s ease;
}

.page-selector.active {
    background: var(--nav-btn-bg-active);
    color: var(--nav-btn-text-active);
    border-color: var(--nav-border-active);
    box-shadow: 0 0 0 2px var(--nav-border-active);
    pointer-events: none;
    
}

/* .page-selector:active {
    transform: translateY(0);
    box-shadow:
        0 0 0 1px var(--nav-border-active);
}
.page-selector:disabled {
    opacity: 0.45;
    cursor: not-allowed;
    box-shadow: none;
} */

/* home page big text */
.big-text {
    font-family: snellroundhandw01-scrip,cursive;
    color:#682709 ;
    font-size: 72px;
}

/*--- second header  ---*/
button {
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.lang-switch button {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
}

.lang-switch img {
    width: clamp(24px,2vw,40px);
    height: clamp(18px,2vw,30px);
    border-radius: 4px;
}

.lang-switch button:hover img {
    transform: scale(1.1);
}

.lang-switch button:focus img{
    outline: 2px solid #333;
}

.lang-switch img.active{
    outline: 2px solid #333;
    transform: scale(1.1);
}

/*  Theme toogle */
#theme-toggle {
    width: 50px;
    height: 26px;
    border-radius: 50px;
    border: none;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

#theme-toggle::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s, background-color 0.3s;
}

/* État dark */
body.theme-dark #theme-toggle {
    background-color: #444;
}

body.theme-dark #theme-toggle::before {
    transform: translateX(24px);
    background-color: #ffdb70; /* petite couleur pour lune ou soleil */
}


/* page-content */

#page-content{
    flex: 1;
}

#home {
    display: flex;
    
}
/* footer */

footer {

    background-color: var(--footer-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 4px;
}


/*  */
@media (min-width: 780px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-panel {
        flex-direction: row;
        /* flex: 1; */
        /* 1 */
        gap: clamp(1px, calc(-7.89px + 1.14vw), 14px)
; 
    }
    .page-selector {
        padding: 12px clamp(5px, calc(-5.26px + 1.32vw), 20px);
        font-size: 15px;
        margin-left: 0px;
    }
    #toogle-nav {
        display: none;
    }

}

@media (hover: hover) and (pointer: fine) {
    #toogle-nav:hover {
        border-color: var(--nav-border-hover);
        box-shadow:
            0 0 0 1px var(--nav-border-hover),
            0 8px 20px rgba(0, 0, 0, 0.6);
        transform: translateY(-1px);
        background-color: var(--nav-btn-bg-hover);
    }
    .page-selector:hover {
    border-color: var(--nav-border-hover);
    box-shadow:
        0 0 0 1px var(--nav-border-hover),
        0 8px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-1px);
    background-color: var(--nav-btn-bg-hover);
}
}
